doctype html
html
  head
    title Suyash dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/Images/dancewebsiteimage-logo.jpg", alt="logo")
                h4 SDA
            li #[a(href="/") Home] 
            li #[a(href="/") Services]
            li #[a(href="/") Class INFO] 
            li #[a(href="/") About] 
            li #[a(href="/") Contact Us] 
    block content
    footer#footer 
        |Copyright &copy; 2024 SuyashDanceAcademy.com | All rights Reserved