doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/Images/dancewebsiteimage-logo.jpg", alt="logo")
                h4 SDA
            li #[a(href="/") Home] 
            li #[a(href="/") Services]
            li #[a(href="/") Class INFO] 
            li #[a(href="/") About] 
            li #[a(href="/") Contact Us] 

    section#introSection 
        div Welcome To Suyash's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection 
        h2 Our Mission
        div.card 

            h3 Dance Perfection
                div.card-box 
                    div.card-img 
                        img(src="/static/Images/1.imageDancewebsite.jpg", alt="")
                    div.card-content 
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
        div.card 
            h3 Dance the Way you like
                div.card-box 
                    div.card-img 
                        img(src="/static/Images/2.imageDancewebsite.jpg", alt="")
                    div.card-content 
                        p Lorem, ipsum dolor sit amet cid foptn useful th.
        div.card 
            h3 Expert Teaching
                div.card-box 
                    div.card-img 
                        img(src="/static/Images/3.imagedancewebsite.jpg", alt="")
                    div.card-content 
                        p Lorem, ipsum dolor sit amet id foptn  useful th.
    section#sponsorsSection 
        h2 Our Sponsors 
        div#sponsors 
            img(src="/static/Images/hplogoimagedancewebsite.jpg", alt="sponsors1" , class="spimage")
            img(src="/static/Images/microsoftlogodancewebsite.jpg", alt="sponsors1" , class="spimage")
            img(src="/static/Images/skypeImagedancewebsite.jpg", alt="sponsors1" , class="spimage")
            img(src="/static/Images/appplelogodancewebsite.jpg", alt="sponsors1" , class="spimage")
    
    footer#footer 
        |Copyright &copy; 2024 SuyashDanceAcademy.com | All rights Reserved

    script 
      include ../static/index.js